<div class="grid grid-cols-2 p-2 border-b-1 border-gray-400">
    <div class="self-center ms-28">
        <p-image src="sc_hdr_logo.png" alt="Image" width="123" height="30"/>
    </div>
    <div class="self-center place-self-end">
        <div class="me-32 space-x-12">
            <a class="text-gray-500 text-sm font-bold cursor-pointer">Adopt Kittens</a>
            <a class="text-gray-500 text-sm font-bold cursor-pointer">Kitty Stores</a>
            <a class="text-gray-500 text-sm font-bold cursor-pointer">About Us</a>
            <a class="text-gray-500 text-sm font-bold cursor-pointer">Blog</a>
            <a class="text-gray-500 text-sm font-bold cursor-pointer">Contact</a>
        </div>
    </div>
</div>