<div class="bottom-0 w-full">
    <div class="grid lg:grid-cols-3 md:grid-cols-1 bg-black">
        <div class="mt-8 mb-8 lg:ms-28 md:ms-0 lg:place-self-start md:place-self-center">
            <p-image src="sc_ftr_logo.png" alt="Image" width="157" height="30"/>
        </div>
        <div class="place-self-center">
            <div class="space-x-8 text-center">
                <a class="text-white text-sm font-bold">Privacy Policy</a>
                <a class="text-white text-sm font-bold">Terms & Conditions</a>
                <a class="text-white text-sm font-bold">Blog</a>
                <a class="text-white text-sm font-bold">Support</a>
            </div>
        </div>
        <div class="lg:self-center lg:place-self-end md:place-self-center">
            <div class="space-x-8 lg:me-28 md:me-0 lg:mt-0 md:mt-6 lg:mb-0 md:mb-6">
                <i class="pi pi-discord text-white"></i>
                <i class="pi pi-twitter text-white"></i>
                <i class="pi pi-instagram text-white"></i>
            </div>
        </div>
    </div>
    <div class="p-2 bg-black">
        <div class="place-self-center">
            <p class="text-white text-xs font-medium">{{ footerTitle }}</p>
        </div>
    </div>
</div>